 .header {
    height: 95vh; /* 95% of the viewport height */
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
    url(../img/hero.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3rem; /* Width will be automatically figured out by the browser */
    }

    &__text-box {
        position: absolute;
        top: 40%; /* In relation to the parent element */
        left: 50%; /* In relation to the parent element */
        transform: translate(-50%, -50%); /* Transform the element itself's original width & height */
        text-align: center;
    }
}